PORT=5000
MONGO_URI=mongodb+srv://smartcity:mongodb123@cluster0.zfvzbxs.mongodb.net/?retryWrites=true&w=majority
JWT_SECRET=supersecretkey
CLIENT_ORIGIN=https://smart-city-management-system-kappa.vercel.app/

